body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(128, 128, 128, 0.140) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(128, 128, 128, 0.140) 1px, transparent 1px);
      box-sizing: border-box;
      
  }